{% extends "base.html" %}

{% block body %}

<div class='row'>
    <div class='col-xs-8 col-xs-offset-2'>
        <h3>Baseball Teams</h3>
        <p>
            Here's some data I queried from the local couchdb via the Flask api endpoint that rendered this page.  In a 
            production deployment these types of requests would require authentication: saml token, jwt, etc.
        </p>

        {% if error %}
            <h3>{{ error }}</h3> 
        {% else %}

            <p>
                The data is filterable by the service API - a query parameter send to the query 
                parameter associated with the endpoint responsible for server-side rendering.  In a rich web
                application, this would be more suitable as a client-side Document Object Model manipulation event.
            </p>

            <div class="table-responsive">
                <table class='table table-hover'>
                    <thead>
                        <th>Team</th>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Position</th>
                        <th>Age</th>
                        <th>Height</th>
                        <th>Weight</th>
                    </thead>
                    <tbody>
                        {% for player in data['rows'] %}
                            <tr>
                                <td><a href="?filter={{player.value.team}}">{{ player.value.team }}</a></td>
                                <td>{{ player.value.name }}</td>
                                <td>{{ player.value.number }}</td>
                                <td>{{ player.value.position }}</td>
                                <td>{{ player.value.age }}</td>
                                <td>{{ player.value.height }}</td>
                                <td>{{ player.value.weight }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if filtering %}
                <ul style='list-style: none; padding-left: 0'>
                    <li><a href='./baseball'><span class='glyphicon glyphicon-step-backward'></span> Back</a></li>
                </ul>
            {% endif %}

        {% endif %}
        
            
        
    </div>
</div>

{% endblock %}