{% extends "base.html" %}

{% block body %}

<div class='row'>
    <div class='col-xs-8 col-xs-offset-2'>
        <h3>Baseball Teams</h3>
        <p>
            Here's some data I queried from the local couchdb via the Flask api endpoint that rendered this page.  In a 
            production deployment these types of requests would require authentication: saml token, jwt, etc.
        </p>

        {% if error %}
            <h3>{{ error }}</h3> 
        {% else %}
            <div class="table-responsive">
                <table class='table table-hover'>
                    <thead>
                        <th>Team</th>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Position</th>
                        <th>Age</th>
                        <th>Height</th>
                        <th>Weight</th>
                    </thead>
                    <tbody>
                        {% for player in data['rows'] %}
                            <tr>
                                <td><a href="?filter={{player.value.team}}">{{ player.value.team }}</a></td>
                                <td>{{ player.value.name }}</td>
                                <td>{{ player.value.number }}</td>
                                <td>{{ player.value.position }}</td>
                                <td>{{ player.value.age }}</td>
                                <td>{{ player.value.height }}</td>
                                <td>{{ player.value.weight }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        
            
        
    </div>
</div>

{% endblock %}