{% extends "base.html" %}

{% block body %}

    <div class='row'>
        <div class='col-xs-8 col-xs-offset-2'>
            <p>
                Welcome to the flask web application/service project, a checklist project &ndash; create an application or api &ndash; using the Flask 
                microframework for learning a new technology and some nerdy computer fun!
            </p>
        </div>
    </div>

    <div class='row'>
        <div class='col-xs-8 col-xs-offset-2'>
            <h3>Look what I can do!</h3>
            <p>
                This project skims the surface of what Flask coupled with jinja2 can do.  I won't attempt to touch every
                aspect of the software, but a few basic and important concepts.
            </p>
        </div>
    </div>

    <div class='row'>
        <div class='col-xs-8 col-xs-offset-2'>
            <h4>Templates</h4>
            <p>
                The pages of this demo are produced via templates.  Jinja2 provides template inheritance and embedding
                child templates with the <code>extends</code>, <code>block</code>, and <code>endblock</code> tag.  Check
                out the Jinja documentation directly or continue perusing this repository.
            </p>
        </div>
    </div>

    <div class='row'>
        <div class='col-xs-8 col-xs-offset-2'>
            <h4>Remember me</h4>
            <p>
                Enter some text below and click the Ok button.  I'll create a cookie to remember you.
            </p>
        </div>
    </div>
    
    <div class='row' style='margin-bottom: 10px'>
        <div class='col-xs-8 col-xs-offset-2'>
            <form method='POST' action='rememberme' class='form-inline'>
                <div class='form-group'>
                    <input type='text' 
                        id='remember-me'
                        class='form-control' 
                        name='remember-me'/>
                </div>
                
                <button type='submit'
                    class='btn btn-primary'>Ok</button>
            </form>
        </div>
    </div>

    {% if remembered_name %}
    <div class='row'>
        <div class='col-xs-8 col-xs-offset-2'>
            <p>Hey, <strong>{{ remembered_name }}</strong>!  See I remembered you <span style='font-family:Courier'>:]</span>  If you navigate away or close this page
                I'll still remember you, just as long as you don't clear your browser cookies.
            </p>
        </div>
    </div>
    {% endif %}

    <div class='row'>
        <div class='col-xs-8 col-xs-offset-2'>
            <h4>Whoops!!</h4>
            <p>
                In the event of a malformed url in the browser, Flask provides error routing.  The link produces a <strong>404 - Not Found</strong> response
                because there is no page to render at the url.
            </p>
            
            <div style='width: 170px; margin: 0 auto'>
                <p>
                    <span class='glyphicon glyphicon-link'></span>
                    <a href='/somejunkurl'>non-existent-page.html</a>
                </p>
            </div>

            <p>
                Flask provides the <code>@app.errorhandler(404)</code> decorator for handling request errors and redirecting.  You'll be taken to 
                a page not found view with the hyperlink above.
            </p>
        </div>
    </div>

{% endblock %}